#black {
    background-color: #000;
}
#room8 {
    scale: 100%;
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    top: 0rem;
    object-fit: cover;
}
#thirty-1 {
    position: absolute;

    width: 82px;
    height: 305px;
    bottom: 350px;
    right: 1176px;
    transform: rotate(-26deg);
    z-index: 1;
}
#six {
    position: absolute;

    width: 42px;
    height: 213px;
    bottom: 480px;
    right: 1078px;
    transform: rotate(-26deg);
    z-index: 1; 
}
#twenty-9 {
    position: absolute;

    width: 94px;
    height: 176px;
    bottom: 569px;
    right: 917px;
    transform: rotate(-25deg);
    z-index: 1;
}
#twelve {
    position: absolute;

    width: 40px;
    height: 245px;
    bottom: 575px;
    right: 796px;
    transform: rotate(-25deg);
    z-index: 1;
}
#parent {
    width: 800px;
    height: 1000px;
    border: 5px;
    border-color: yellow;

    display: block;
    margin-left: auto;
    margin-right: auto;
}