#black {
    background-color: #000;
}
#room20 {
    scale: 100%;
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    top: 0rem;
    object-fit: cover;
}
#five {
    /* background-color: yellow; */
    position: absolute;

    width: 100px;
    height: 255px;
    bottom: 555px;
    right: 1230px;
    z-index: 1;
}
#twenty-7 {
    /* background-color: yellow; */
    position: absolute;

    width: 150px;
    height: 255px;
    bottom: 575px;
    right: 800px;
    z-index: 1; 
}
#one {
    /* background-color: yellow; */
    position: absolute;

    width: 70px;
    height: 255px;
    bottom: 575px;
    right: 650px;
    z-index: 1;
}
#parent {
    width: 800px;
    height: 1000px;
    border: 5px;
    border-color: yellow;

    display: block;
    margin-left: auto;
    margin-right: auto;
}