#black {
    background-color: #000;
}
#room5 {
    scale: 100%;
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    top: 0rem;
    object-fit: cover;
}
#forty-3 {
    /* background-color: yellow; */
    position: absolute;

    width: 98px;
    height: 154px;
    bottom: 594px;
    right: 1201px;
    transform: skewY(-16deg);
    z-index: 1;
}
#twenty-2 {
    /* background-color: yellow; */
    position: absolute;

    width: 98px;
    height: 187px;
    bottom: 558px;
    right: 1023px;
    z-index: 1; 
}
#thirty {
    /* background-color: yellow; */
    position: absolute;

    width: 65px;
    height: 185px;
    bottom: 560px;
    right: 853px;
    z-index: 1;
}
#twenty {
    /* background-color: yellow; */
    position: absolute;

    width: 97px;
    height: 190px;
    bottom: 554px;
    right: 667px;
    z-index: 1;
}
#parent {
    width: 800px;
    height: 1000px;
    border: 5px;
    border-color: yellow;

    display: block;
    margin-left: auto;
    margin-right: auto;
}