#black {
    background-color: #000;
}
#room16 {
    scale: 100%;
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    top: 0rem;
    object-fit: cover;
}
#thirty-6 {
    background-color: yellow;
    position: absolute;

    width: 150px;
    height: 255px;
    bottom: 575px;
    right: 1050px;
    z-index: 1;
}
#seven {
    background-color: yellow;
    position: absolute;

    width: 150px;
    height: 255px;
    bottom: 575px;
    right: 860px;
    z-index: 1; 
}
#forty-one {
    /* background-color: yellow; */
    position: absolute;

    width: 70px;
    height: 255px;
    bottom: 575px;
    right: 770px;
    z-index: 1;
}
#twenty-1 {
    /* background-color: yellow; */
    position: absolute;

    width: 80px;
    height: 255px;
    bottom: 575px;
    right: 655px;
    z-index: 1;
}
#parent {
    width: 800px;
    height: 1000px;
    border: 5px;
    border-color: yellow;

    display: block;
    margin-left: auto;
    margin-right: auto;
}