#black {
    background-color: #000;
}
#room1 {
    scale: 100%;
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    top: 0rem;
    object-fit: cover;
}
#twenty-9 {
    background-color: yellow;
    position: absolute;

    width: 87px;
    height: 305px;
    bottom: 485px;
    right: 1210px;
    z-index: 1;
    transform: skewY(-35deg);
}
#twenty-2 {
    background-color: yellow;
    position: absolute;

    width: 184px;
    height: 245px;
    bottom: 575px;
    right: 902px;
    z-index: 1; 
}
#twelve {
    background-color: yellow;
    position: absolute;

    width: 90px;
    height: 314px;
    bottom: 483px;
    right: 684px;
    z-index: 1;
    transform: skewY(35deg);
}
#parent {
    width: 800px;
    height: 1000px;
    border: 5px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}