#black {
    background-color: #000;
}
#room37 {
    scale: 100%;
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    top: 0rem;
    object-fit: cover;
}
#fifteen {
    /* background-color: yellow; */
    position: absolute;

    width: 150px;
    height: 255px;
    bottom: 575px;
    right: 1200px;
    z-index: 1;
}
#ten {
    /* background-color: yellow; */
    position: absolute;

    width: 150px;
    height: 255px;
    bottom: 575px;
    right: 1000px;
    z-index: 1; 
}
#forty-2 {
    /* background-color: yellow; */
    position: absolute;

    width: 100px;
    height: 255px;
    bottom: 575px;
    right: 850px;
    z-index: 1;
}
#twenty {
    /* background-color: yellow; */
    position: absolute;

    width: 130px;
    height: 255px;
    bottom: 575px;
    right: 655px;
    z-index: 1;
}
#parent {
    width: 800px;
    height: 1000px;
    border: 5px;
    border-color: yellow;

    display: block;
    margin-left: auto;
    margin-right: auto;
}