#black {
    background-color: #000;
}
#room3 {
    scale: 100%;
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    top: 0rem;
    object-fit: cover;
}
#thirty-3 {
    /* background-color: yellow; */
    position: absolute;

    width: 78px;
    height: 385px;
    bottom: 442px;
    right: 1260px;
    transform: skewY(-46deg);
    z-index: 1;
}
#nine {
    /* background-color: yellow; */
    position: absolute;

    width: 139px;
    height: 245px;
    bottom: 588px;
    right: 840px;
    z-index: 1; 
}
#twenty-1 {
    /* background-color: yellow; */
    position: absolute;

    width: 76px;
    height: 342px;
    bottom: 494px;
    right: 682px;
    transform: skew(0.5deg, 45deg);
    z-index: 1;
}
#parent {
    width: 800px;
    height: 1000px;
    border: 5px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}