#black {
    background-color: #000;
}
#room7 {
    scale: 100%;
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    top: 0rem;
    object-fit: cover;
}
#thirty-3 {
    position: absolute;

    width: 95px;
    height: 289px;
    bottom: 471px;
    right: 1190px;
    transform: skewY(-39deg);
    z-index: 1;
}
#thirty-6 {
    position: absolute;

    width: 144px;
    height: 255px;
    bottom: 540px;
    right: 918px;
    z-index: 1; 
}
#sixteen {
    position: absolute;

    width: 87px;
    height: 295px;
    bottom: 473px;
    right: 700px;
    transform: skewY(39deg);
    z-index: 1;
}
#parent {
    width: 800px;
    height: 1000px;
    border: 5px;
    border-color: yellow;

    display: block;
    margin-left: auto;
    margin-right: auto;
}