#black {
    background-color: #000;
}
#room9 {
    scale: 100%;
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    top: 0rem;
    object-fit: cover;
}
#three {
    /* background-color: yellow; */
    position: absolute;

    width: 68px;
    height: 288px;
    bottom: 426px;
    right: 1212px;
    transform: skewY(12deg);
    z-index: 1;
}
#eightteen {
    /* background-color: yellow; */
    position: absolute;

    width: 115px;
    height: 192px;
    bottom: 535px;
    right: 758px;
    z-index: 1; 
}
#parent {
    width: 800px;
    height: 1000px;
    border: 5px;
    border-color: yellow;

    display: block;
    margin-left: auto;
    margin-right: auto;
}