#black {
    background-color: #000;
}
#room42 {
    scale: 100%;
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    top: 0rem;
    object-fit: cover;
}
#twenty-2 {
    /* background-color: yellow; */
    position: absolute;

    width: 70px;
    height: 255px;
    bottom: 525px;
    right: 1250px;
    z-index: 1;
}
#thirty {
    /* background-color: yellow; */
    position: absolute;

    width: 70px;
    height: 255px;
    bottom: 575px;
    right: 1150px;
    z-index: 1; 
}
#four {
    /* background-color: yellow; */
    position: absolute;

    width: 70px;
    height: 255px;
    bottom: 575px;
    right: 1000px;
    z-index: 1;
}
#twenty-5 {
    /* background-color: yellow; */
    position: absolute;

    width: 80px;
    height: 255px;
    bottom: 575px;
    right: 850px;
    z-index: 1;
}
#thirty-7 {
    /* background-color: yellow; */
    position: absolute;

    width: 100px;
    height: 255px;
    bottom: 575px;
    right: 655px;
    z-index: 1;
}
#parent {
    width: 800px;
    height: 1000px;
    border: 5px;
    border-color: yellow;

    display: block;
    margin-left: auto;
    margin-right: auto;
}