#black {
    background-color: #000;
}
#room4 {
    scale: 100%;
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    top: 0rem;
    object-fit: cover;
}
#forty-4 {
    /* background-color: yellow; */
    position: absolute;

    width: 102px;
    height: 406px;
    bottom: 398px;
    right: 1212px;
    transform: skewY(-36deg);
    z-index: 1;
}
#twenty-9 {
    /* background-color: yellow; */
    position: absolute;

    width: 45px;
    height: 275px;
    bottom: 507px;
    right: 1118px;
    transform: skewY(-36deg);
    z-index: 1; 
}
#fithteen {
    /* background-color: yellow; */
    position: absolute;

    width: 26px;
    height: 220px;
    bottom: 549px;
    right: 1072px;
    transform: skewY(-39deg);
    z-index: 1;
}
#eleven {
    /* background-color: yellow; */
    position: absolute;

    width: 65px;
    height: 172px;
    bottom: 587px;
    right: 955px;
    z-index: 1;
}
#sixteen {
    /* background-color: yellow; */
    position: absolute;

    width: 24px;
    height: 224px;
    bottom: 548px;
    right: 880px;
    transform: skewY(39deg);
    z-index: 1;
}
#twenty-4 {
    /* background-color: yellow; */
    position: absolute;

    width: 50px;
    height: 279px;
    bottom: 504px;
    right: 812px;
    transform: skewY(37deg);
}
#forty-3 {
    /* background-color: yellow; */
    position: absolute;

    width: 110px;
    height: 400px;
    bottom: 408px;
    right: 657px;
    transform: skewY(35deg);
}
#parent {
    width: 800px;
    height: 1000px;
    border: 5px;
    border-color: yellow;

    display: block;
    margin-left: auto;
    margin-right: auto;
}