.body {
    background-color: black;
}
#room {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#room:hover {
    scale: 120%;
}
.text {
    color: whitesmoke;
    text-indent: 50px;

    margin: auto;
    padding: 3px;
    width: 40%;
}