#black {
    background-color: #000;
}
#room45 {
    scale: 100%;
    display: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    top: 0rem;
    object-fit: cover;
}
#twenty-8 {
    /* background-color: yellow; */
    position: absolute;

    width: 50px;
    height: 255px;
    bottom: 515px;
    right: 1280px;
    z-index: 1;
}
#seventeen {
    /* background-color: yellow; */
    position: absolute;

    width: 30px;
    height: 255px;
    bottom: 575px;
    right: 1180px;
    z-index: 1; 
}
#thirty-6 {
    /* background-color: yellow; */
    position: absolute;

    width: 70px;
    height: 255px;
    bottom: 575px;
    right: 950px;
    z-index: 1;
}
#nineteen {
    /* background-color: yellow; */
    position: absolute;

    width: 50px;
    height: 255px;
    bottom: 575px;
    right: 755px;
    z-index: 1;
}
#twenty-3 {
    /* background-color: yellow; */
    position: absolute;

    width: 80px;
    height: 355px;
    bottom: 505px;
    right: 655px;
    z-index: 1;
}
#parent {
    width: 800px;
    height: 1000px;
    border: 5px;
    border-color: yellow;

    display: block;
    margin-left: auto;
    margin-right: auto;
}